$keypad-background-color : rgb(232, 240, 255);

.keypad{
    background-color: $keypad-background-color;
    height: 13rem;
    padding-top: 5%;
}

.keypad-row {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 15.6rem;
}

.keypad-row > button {
    margin: 0.2rem;
    width: 100%;
}